@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BAMBAM.COM</h1>
    <p class="lead">Web Bán Vợt Cầu Lông Xịn Xò Nhất BamBam</p>
    <p><a href="http://localhost:58516/Racket/Index" class="btn btn-primary btn-lg">Xem Vợt &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Danh Sách Admin</h2>
        <p>
            Admin là những người sẽ xử lý khi bạn có vấn đề gì thắc mắc
        </p>
        <p><a class="btn btn-default" href="http://localhost:58516/Admin/Index">Xem Admin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Danh sách User</h2>
        <p>Những người đã đăng ký tài khoản và được nhiều ưu đãi</p>
        <p><a class="btn btn-default" href="http://localhost:58516/User/Index">Xem User &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Danh sách nhà sản xuất vợt</h2>
        <p>Bạn có thể thấy được những thương hiệu nổi tiếng tại đây hehe</p>
        <p><a class="btn btn-default" href="http://localhost:58516/Brand/Index">Xem Nhà sản xuất &raquo;</a></p>
    </div>
</div>