
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Show</h2>

<div>
    <a href="/Users/Index"> Danh sách Người Dùng</a> <br />
    <a href="/Admins/Index"> Danh sách Quản trị viên</a> <br />
    <a href="/Rackets/Index"> Danh sách Sản Phẩm</a> <br />
    <a href="/Brands/Index"> Danh sách Thương Hiệu</a> <br />
</div>
